.entry {
  height: 50px;
}

.square {
  height: 150px;
  width: 150px;
  border-radius: 25px;
}

.paid {
  background-color: green;
}

.unpaid {
  background-color: darkorange;
}

.past-due {
  background-color: red;
}
