@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color:white;
  font-weight: bold;
}
.btn-primary {
  background-color: #72BB53;
  border-color: #72BB53;
}
.btn-primary:hover {
  background-color: #72BB34; /* Green */
  border-color: #72BB53;
  color: white;
}
nav {
  background-color: #72BB53
}
.fa-plus{
  color: white;
}

.dropdown-toggle{
  color:white; 
}

.fa-cog{
  color: white;
}

.fa-apple-alt {
  color: black;
}

.fa-sign-out-alt {
  color: white;
}

ul.dropdown-menu {
  position: static;
  float: none;
  width: 150px;
}

btn {
  background-color: #72BB53
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
