<header>
  <div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" >
      <div class="modal-content" style="width: 75%; margin: 0 auto;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Transaction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <h6>Select Transaction Type:</h6>
            <select class="form-control" [(ngModel)]="selTransType" name="selTransT" #selTransT="ngModel" (change)="changeType($event.target.value)">
              <option value="Transfer">Transfer</option>
              <option value="Withdraw">Withdraw</option>
              <option value="Deposit">Deposit</option>
            </select>
            <ng-container *ngIf="depositDiv">
              <div class="row">
                <div class="col-12">
                  <h6>Deposit to:</h6>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" (click)="depositTypeChange($event)">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Envelopes
                    </label>
                    <label class="btn btn-secondary" (click)="depositTypeChange($event)">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Piggybanks
                    </label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <select class="form-control" *ngIf="showEnvD" [(ngModel)]="depToE" name="selDepFromE" #selDepFromE="ngModel">
                    <option [value]="envelope.id" *ngFor="let envelope of envelopes">${{envelope.amount}} - {{envelope.name}}</option>
                  </select>

                  <select class="form-control" *ngIf="showPigD" [(ngModel)]="depToP" name="selDepFromP" #selDepFromP="ngModel">
                    <option [value]="pig.id" *ngFor="let pig of piggyBanks">${{pig.amount}} - {{pig.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-12">

                  <input type="number" class="form-control" placeholder="Amount to Deposit" [(ngModel)]="depositAmount" name="depositA" #depositA="ngModel" />
                </div>

              </div>
            </ng-container>
            <ng-container *ngIf="withdrawDiv">
              <div class="row">
                <div class="col-12">
                  <h6>Withdraw From:</h6>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" (click)="withdrawTypeChange($event)">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Envelopes
                    </label>
                    <label class="btn btn-secondary" (click)="withdrawTypeChange($event)">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Piggybanks
                    </label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <select class="form-control" *ngIf="showEnvW" [(ngModel)]="withFromE" name="selWithFromE" #selWithFromE="ngModel">
                    <option [value]="envelope.id" *ngFor="let envelope of envelopes">${{envelope.amount}} - {{envelope.name}}</option>
                  </select>

                  <select class="form-control" *ngIf="showPigW" [(ngModel)]="withFromP" name="selWithFromP" #selWithFromP="ngModel">
                    <option [value]="pig.id" *ngFor="let pig of piggyBanks">${{pig.amount}} - {{pig.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-12">

                  <input type="number" class="form-control" placeholder="Amount to Withdraw" [(ngModel)]="withdrawAmount" name="withdrawA" #withdrawA="ngModel" />
                </div>

              </div>
            </ng-container>
            <ng-container *ngIf="transferDiv">

              <div class="row">
                <div class="col-6">
                  <h6>Transfer From:</h6>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" (click)="fromTypeChange($event)">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Envelopes
                    </label>
                    <label class="btn btn-secondary" (click)="fromTypeChange($event)">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Piggybanks
                    </label>
                  </div>

                </div>
                <div class="col-6">
                  <h6>Transfer To:</h6>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" (click)="toTypeChange($event)">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Envelopes
                    </label>
                    <label class="btn btn-secondary" (click)="toTypeChange($event)">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Piggybanks
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <select class="form-control" *ngIf="showEnv" [(ngModel)]="transFromE" name="selTransFromE" #selTransFromE="ngModel">
                    <option [value]="envelope.id" *ngFor="let envelope of envelopes">${{envelope.amount}} - {{envelope.name}}</option>
                  </select>

                  <select class="form-control" *ngIf="showPig" [(ngModel)]="transFromP" name="selTransFromP" #selTransFromP="ngModel">
                    <option [value]="pig.id" *ngFor="let pig of piggyBanks">${{pig.amount}} - {{pig.name}}</option>
                  </select>
                </div>
                <div class="col-6">
                  <select class="form-control" *ngIf="showEnvTo" [(ngModel)]="transToE" name="selTransToE" #selTransToE="ngModel">
                    <option [value]="envelope.id" *ngFor="let envelope of envelopes">${{envelope.amount}} - {{envelope.name}}</option>
                  </select>

                  <select class="form-control" *ngIf="showPigTo" [(ngModel)]="transToP" name="selTransToP" #selTransToP="ngModel">
                    <option [value]="pig.id" *ngFor="let pig of piggyBanks">${{pig.amount}} - {{pig.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-12">

                  <input type="number" class="form-control" placeholder="Amount to Transfer" [(ngModel)]="transferAmount" name="transferA" #transferA="ngModel" />
                </div>

              </div>
            </ng-container>

            <br />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTransaction()">Confirm Transaction</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addEnvelopeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Envelope</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Name of Envelope" [(ngModel)]="envName" name="nameInput" #nameInput="ngModel" />
          <br />
          <input type="number" class="form-control" placeholder="Set Amount" [(ngModel)]="setAmount" name="setAmountInput" #setAmountInput="ngModel" />
          <br />
          <select class="form-control" [(ngModel)]="selIconEnvelope" name="selIconE" #selIconE="ngModel">
            <option>--Select an icon--</option>
            <option value="fas fa-cog">Cog</option>
            <option value="fas fa-apple-alt">Apple</option>
            <option value="fas fa-sign-out-alt">Sign-out</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addEnvelope()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addBillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Bill</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Name of Bill" [(ngModel)]="billName" name="nameBillInput" #nameBillInput="ngModel" />
          <br />
          <input type="number" class="form-control" placeholder="Amount" [(ngModel)]="billAmount" name="billAmountInput" #billAmountInput="ngModel" />
          <br />
          <input type="number" class="form-control" placeholder="Day Due" [(ngModel)]="dayDue" name="dayDueInput" #dayDueInput="ngModel" />
          <br />
          <select class="form-control" [(ngModel)]="selIconBill" name="selIconB" #selIconB="ngModel">
            <option>--Select an icon--</option>
            <option value="fas fa-cog">Cog</option>
            <option value="fas fa-apple-alt">Apple</option>
            <option value="fas fa-sign-out-alt">Sign-out</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addBill()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addPiggyBankModal" tabindex="-1" role="dialog" aria-labelledby="addPiggyBankModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Piggybank</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Name of Piggybank" [(ngModel)]="piggyName" name="namePiggyInput" #namePiggyInput="ngModel" />
          <br />
          <select class="form-control" [(ngModel)]="selIconPiggy" name="selIconP" #selIconP="ngModel">
            <option selected value="fas fa-cog">Cog</option>
            <option value="fas fa-apple-alt">Apple</option>
            <option value="fas fa-sign-out-alt">Sign-out</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addPiggybank()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar start-->
  <nav class="navbar navbar-expand-lg navbar-light" *ngIf="nav.visible">
    <div class="container">
      <a class="navbar-brand text-white text-left" [routerLink]='["/home"]'>$Dolla</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-white" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white" [routerLink]='["/budget"]'>Budget</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white" [routerLink]='["/transactions"]'>Transactions</a>
          </li>
          <li class="nav-item dropdown">
            <!-- + Dropdown menu-->
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addTransactionModal">Add Transaction</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addEnvelopeModal">Add Envelope</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addBillModal">Add Bill</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addPiggyBankModal">Add Piggy Bank</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <!-- Gear Button-->
            <div class="btn-group">
              <button type="button" class="btn" [routerLink]='["/settings"]' aria-haspopup="true" aria-expanded="false"> <i class="fas fa-cog"></i> </button>
            </div>
          </li>
          <li>
            <!-- Logout Button -->
            <div class="btn-group">
              <button type="button" class="btn" (click)="signOut()">
                <i class="fas fa-sign-out-alt"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


