<div>
  <div class="d-flex align-items-start  text-dark h5 mt-3">
    <table class="border">
      <tr class="background">
        <td class="short">
         <i class="far fa-credit-card  {{addPaymentMethod.color}} "></i>
        </td>
        <td class="long">
          {{addPaymentMethod.name}}
        </td>
        <td class="short">
          <button class="transparentbutton">  <i class="fas fa-edit Green"></i></button>
        </td>
        <td class="short">
          <button class="transparentbutton"> <i class="far fa-trash-alt Red"></i> </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div>
</div>


