
  <div id="home-tabbed-area" class="container">
    <ul class="nav nav-tabs nav-fill justify-content-center mt-4" role="tablist">
      <li class="nav-item">
        <a href="#overview" data-toggle="tab" role="tab" class="nav-link active">Overview</a>
      </li>
      <li class="nav-item">
        <a href="#envelopes" data-toggle="tab" role="tab" class="nav-link">Envelopes</a>
      </li>
      <li class="nav-item">
        <a href="#bills" data-toggle="tab" role="tab" class="nav-link">Bills</a>
      </li>
      <li class="nav-item">
        <a href="#banks" data-toggle="tab" role="tab" class="nav-link">Banks</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <app-home-overview class="tab-pane active" id="overview"></app-home-overview>
      <app-home-envelopes class="tab-pane" id="envelopes" (dataUpdate)="refresh()"></app-home-envelopes>
      <app-home-bills class="tab-pane" id="bills"></app-home-bills>
      <app-home-banks class="tab-pane" id="banks"></app-home-banks>
    </div>
  </div>
