<div [ngClass]="{ 'opened' : isOpen }" class="container parent my-2">
  <div class="budget-row-header row" data-toggle="collapse" [attr.data-target]="'#details_' + editMoneybox.id" (click)="onClickHeader()">
    <div class="col-1 my-auto pl-2"><i class="{{icon}}"></i></div>
    <div class="col-5 my-auto">{{editMoneybox.name}}</div>
    <div class="col-6 text-right pr-5 my-auto">{{amount | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
  </div>
  <div [id]="'details_' + editMoneybox.id" class="collapse row">
    <div class="col-4">
      <div *ngIf="type == 1">
        Overflow stuff
      </div>
      <div *ngIf="type == 2">
        Due Date stuff
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row">
        <label [attr.for]="'inputName+' + editMoneybox.id" class="form-label">Name:</label>
        <input type="text" class="form-control" [attr.id]="'inputName+' + editMoneybox.id" maxlength="15" [(ngModel)]="editMoneybox.name" (blur)="onNameExit()" />
      </div>
      <div class="form-group row">
        <label [attr.for]="'inputIcon+' + editMoneybox.id" class="form-label">Icon:</label>
        <select class="form-control" (change)="onIconChange()">
          <option selected>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>
    </div>
    <div class="col-4 text-center">
      <div (click)="incrementAmount(5)">
        <i class="fas fa-angle-double-up"></i>
      </div>
      <div (click)="incrementAmount(1)">
        <i class="fas fa-angle-up"></i>
      </div>
      <div>
        {{amount | currency : 'USD' : 'symbol' : '1.0-0' }}
      </div>
      <div (click)="incrementAmount(-1)">
        <i class="fas fa-angle-down"></i>
      </div>
      <div (click)="incrementAmount(-5)">
        <i class="fas fa-angle-double-down"></i>
      </div>
    </div>
  </div>
</div>
