@import "~@fortawesome/fontawesome-free/css/all.css";

.budget-row-header {
  height: 50px;
}

.opened > .budget-row-header:hover {
  background-color: lightgray;
}

.budget-row-header:hover {
  background-color: whitesmoke;
}

.opened {
  background-color: whitesmoke;
}

.parent {
  border: 1px solid lightgray;
  border-radius: 5px;
}
