<div class="d-flex flex-wrap" *ngIf="addPaymentMethods.length > 0">
  <table>
    <tr>
      <app-addpaymentmethod *ngFor="let addPaymentMethod of addPaymentMethods"
                            [addPaymentMethod]="addPaymentMethod"></app-addpaymentmethod>
    </tr>
  </table>
</div>
<div class="right">
  <button class="transparentbutton right" data-toggle="modal" data-target="#addPaymentMethodModal">
    <i class="fas fa-plus-circle "> </i>
  </button>
</div>

<div *ngIf="addPaymentMethods.length === 0" class="no-data-message text-center">
  No bills found.  You can create some from the budget page
</div>

<div class="modal fade" id="addPaymentMethodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Payment Method</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Payment Method's Name..." [(ngModel)]="addPaymentMethodName" name="nameInput" #nameInput="ngModel" />
        <br />
        <select name="selIcon" class="form-control">
          <option> Pick A Color </option>
          <option>Green</option>
          <option>Red</option>
          <option>Orange</option>
          <option>Blue</option>
          <option>Black</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addEnvelope()">Add</button>
      </div>
    </div>
  </div>
</div>
