@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

.styled {
  font-size: 20px;
  width: 100%;
  font-style: italic;
}

button {
  background-color:transparent;
  color: #72BB53;
  border: none;
  font-size:30px;
}

.right{
    text-align:right;
    float:right;
}
Green{
  color:#72BB53;
}

