<!-- Dropdown menu for future filtering of transactions -->
<div class="dropdown show" style="display:inline;">
  <div class="h3 p-4" style="display: inline;">Transactions</div>
  <a class="btn btn-light btn-sm dropdown-toggle my-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <button type="button" class="dropdown-item" (click)="refresh(0)">All</button>
    <button type="button" class="dropdown-item" (click)="refresh(12)">Year</button>
    <button type="button" class="dropdown-item" (click)="refresh(6)">6 Months</button>
    <button type="button" class="dropdown-item" (click)="refresh(3)">3 Months</button>
    <button type="button" class="dropdown-item" (click)="refresh(1)">This Month</button>
  </div>
</div>
<!-- Table template for transactions -->
<div>
  <table class="table table-hover">
    <tbody *ngFor="let data of transactions">    
      <tr data-toggle="collapse" [attr.data-target]="'#a' + data.id">
        <td>
          <i class="fa">{{getFromIcon(data)}}</i> 
          <i class="fas fa-arrow-right px-4"></i> 
          <i class="fa">{{getToIcon(data)}}</i>
        </td>
        <td>{{data.type}}</td>
        <td>{{"$".concat(data.transferAmount.toFixed(2))}}</td>
      </tr>
      <!-- Details -->
      <tr class="collapse" [id]="'a' + data.id">
        <td>
            <i class="fa">{{getFromIcon(data)}}</i> 
            {{data.type}}
            <i class="fas fa-arrow-right px-4"></i> 
            <i class="fa">{{getToIcon(data)}}</i>
        </td>
        <td>{{data.transactionDate | date}}</td>
        <td>{{data.transactionDate | date:'shortTime'}}</td>
      </tr>
    </tbody>
  </table>
</div>
