@import "~@fortawesome/fontawesome-free/css/all.css";

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

p {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

.invis {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none
}


.bd-highlight {
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.15);
}

.fontSize {
  font-size: 30px;
}

.btn-icon{
  border:none;
  background-color:transparent;
  font-size:35px; 
}
.displayIcon{
  font-size:20px;
}

