
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-8 h2">Monthly Budget</div>
    <div id="salaryDisplay" class="col-4 h2 text-right" data-toggle="modal" data-target="#modalSalary">
      <div *ngIf="salary.isSalary">{{allocated | currency}} / {{salary.salaryAmount | currency}} <fa-icon [icon]="editIcon" class="fa-xs"></fa-icon></div>
      <div *ngIf="!salary.isSalary">{{allocated | currency}} <fa-icon [icon]="editIcon" class="fa-xs"></fa-icon></div>
    </div>
  </div>
</div>

<div id="budget-tabbed-area" class="container">
  <ul class="nav nav-tabs nav-fill justify-content-center mt-4" role="tablist">
    <li class="nav-item">
      <a href="#envelopes" data-toggle="tab" role="tab" class="nav-link active" (click)="envelopeRefresh()">Envelopes</a>
    </li>
    <li class="nav-item">
      <a href="#bills" data-toggle="tab" role="tab" class="nav-link" (click)="billRefresh()">Bills</a>
    </li>
    <li class="nav-item">
      <a href="#banks" data-toggle="tab" role="tab" class="nav-link" (click)="bankRefresh()">Banks</a>
    </li>
  </ul>

  <div class="tab-content mt-3">
    <div class="tab-pane active" id="envelopes">
      <div *ngIf="envelopes && envelopes.length > 0">
        <app-budget-moneybox *ngFor="let envelope of envelopes" [moneybox]="envelope"></app-budget-moneybox>
      </div>
      <div *ngIf="!envelopes || envelopes.length == 0">No envelopes found</div>
      <div>
        <div class="leftdiv">
          <canvas style="background-color:#F5F5F5" id="bar_Envelope_Chart" name="barchartname"></canvas>
        </div>
        <div class="rightdiv">
          <canvas style="background-color:#F5F5F5" id="doughnut_Envelope_Chart" name="donoughtchartname"></canvas>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="bills">
      <div *ngIf="bills && bills.length > 0">
        <app-budget-moneybox *ngFor="let bill of bills" [moneybox]="bill"></app-budget-moneybox>
      </div>
      <div *ngIf="!bills || bills.length == 0">No bills found</div>
    </div>
    <div class="tab-pane" id="banks">
      <div *ngIf="banks && banks.length > 0">
        <app-budget-moneybox *ngFor="let bank of banks" [moneybox]="bank"></app-budget-moneybox>



      </div>
      <div *ngIf="!banks || banks.length == 0">No banks found</div>
    </div>
  </div>
  
</div>


<!-- Modals -->

<div id="modalSalary" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Salary Settings</h5>
      </div>
      <div class="modal-body" *ngIf="salary">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="salaryRadios" id="hourlyRadio" [value]="false" [(ngModel)]="salary.isSalary" />
          <label class="form-check-label" for="hourlyRadio">Hourly</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="salaryRadios" id="salaryRadio" [value]="true" [(ngModel)]="salary.isSalary"/>
          <label class="form-check-label" for="salaryRadio">Salary</label>
        </div>
        <div class="form-group" *ngIf="salary.isSalary">
          <label for="modalSalaryInput">Monthly Salary Amount</label>
          <input type="number" class="form-control" id="modalSalaryInput" [(ngModel)]="salary.salaryAmount"/>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" data-dismiss="modal" (click)="saveSalary()">Save</button>
      </div>
    </div>
  </div>
</div>
