<form class="border border-light p-5">

  <section class="skewedBox">
    <div class="container">
      <h1 class="h4 mb-4 text-center">Send Password Reset Email</h1>

      <p>Email Address</p>
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Email Address">

      <div class="text-center">
        <button class="btn btn-primary custom-btn my-4" type="submit">Send Email</button>
      </div>

      <div class="text-center">
          <p>Not a member?
              <a href="./register">Register</a>
          </p>
      </div>
    </div>
  </section>

</form>