h1 {
    color: white;
    font-weight: bold;
}

.btn-primary.custom-btn {
	background-color: #72BB53;
    border-color: #000;
    align-items: center;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #386823;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    background: #72BB53;
    border-color: #000
}

.skewedBox {
    background-color: #72BB53;
    width: 100%;
    padding: 100px 0;
    transform: skew(0deg, -20deg) translateY(-180px);
}

.container {
    padding: 150px, 200px;
    transform: skew(0deg, 20deg) translateY(180px);
}