<form class="border border-light p-5">

  <section class="skewedBox">
    <div class="container">
      <h2 class="mb-4 text-center">Create Account</h2>
    
      <p>Email Address</p>
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Email Address">
    
      <p>Password</p>
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

      <input type="password" id="confirmLoginFormPassword" class="form-control mb-4" placeholder="Confirm Password">
    
      <div class="text-center">
        <button class="btn btn-primary custom-btn my-4" type="submit" onclick="location.href = './login';">Create Account</button>
      </div>
    </div>
  </section>

</form>